<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show Book</title>
</head>
<body>

<h2>Book Information</h2>
<p th:text="${book.title + ', ' + book.author + ', ' + book.publicationYear}">Book Details</p>

<hr/>

<div th:if="${book.id_person == null}">
    <p>This book is free. Whom should it be assigned to?</p>
    <form th:action="@{'/books/' + ${book.id} + '/assign'}" method="post">
        <select name="personId">
            <option th:each="person : ${people}"
                    th:value="${person.id}"
                    th:text="${person.fullName}">
            </option>
        </select>
        <button type="submit">Assign Book</button>
    </form>
</div>


<div th:if="${book.id_person != null}">
    <p>This book is currently with:
        <span th:text="${book_owner.fullName}">
            Person's Name
        </span>
    </p>
    <form th:action="@{'/books/' + ${book.id} + '/remove'}" method="post">
        <input type="hidden" name="personId" th:value="${book.id_person}" />
        <button type="submit">Release Book</button>
    </form>
</div>

<hr/>

<a th:href="@{/books/{id}/update(id=${book.id})}">
    <input type="button" value="Update">
</a>

<form th:method="DELETE" th:action="@{/books/{id}(id=${book.id})}">
    <input type="submit" value="Delete">
</form>

</body>
</html>
